* {
    margin: 0;
    padding: 0;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: greenyellow;
    display: block;
    padding: 20px;
}

main {
    min-width: 10px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
    margin: 10px;
}

aside {
    width: auto;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background: gainsboro;
    color: black;

    img {
        width: 200px;
        height: auto;

    }

}

footer {
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 1);
    text-align: center;

}